.taskList__list {
    display: none;
    width: 370px;
    padding: 0;
    margin: 0;
    margin-bottom: 19px;
    list-style: none;
}

.taskList__list-filled {
    display: block;
    border-top: 1px solid #C4C4C4;
}

.taskList__result-time {
    display: none;
    font-weight: lighter;
    font-size: 16px;
    line-height: 17px;
    color: #999999;
}

.taskList__result-time-filled {
    display: block;
}