.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

.modal::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: gray;
  z-index: 0;
  opacity: 0.5;
}

.modal-content {
  display: flex;
  width: 350px;
  height: 175px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 10;
}

.modal-content__text {
  font-size: 24px;
  line-height: 17px;
  color: #333333;
  margin: 0;
  margin-bottom: 25px;
}

.modal-btn {
  width: fit-content;
  margin: 0;
  cursor: pointer;
}

.modal-btn__delete {
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;
  padding: 19px 50px;
  margin-bottom: 10px;
  background-color: #dc3e22;
  border: none;
}

.modal-btn__cancel {
  font-size: 18px;
  line-height: 17px;
  color: #333333;
  padding: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333333;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: red;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
