.statistics__header {
  display: flex;
  margin: 0;
  margin-bottom: 30px;
  justify-content: space-between;
}

.statistics__header-text {
  align-self: center;
  margin: 0;
}

.statistics__header-dropdown {
  position: relative;
  display: inline-block;
  box-shadow: 0px 10px 63px 0px #00000012;
}

.statistics__header-dropdown-btn {
  display: flex;
  width: 370px;
  height: 55px;
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #333333;
  padding: 19px 22px 19px 15px;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: #f4f4f4;
  cursor: pointer;
}

.statistics__header-arrow {
  display: inline-block;
  width: 16px;
  height: 10px;
  transition: transform;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 1L8 8L1 1' stroke='%23B7280F' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.statistics__header-dropdown-content {
  position: absolute;
  min-width: 370px;
  background-color: #f4f4f4;
  box-shadow: 0px 10px 63px 0px #00000012;
  z-index: 1;
}

.statistics__header-dropdown-content a {
  display: block;
  color: black;
  padding: 19px 22px 19px 15px;
  border-top: 1px solid #dedede;
  text-decoration: none;
}

.statistics__header-dropdown-content button:hover {
  background-color: #f1f1f1;
}

.statistics__header-arrow-show {
  transform: rotate(180deg);
}
