.task__item {
  width: 370px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #c4c4c4;
  transform-origin: top;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.task__item.enter {
  transform: scaleY(0);
  opacity: 0;
}

.task__item.exit {
  opacity: 0;
  transform: scaleY(0.5);
}

.task__item-container {
  position: relative;
  display: flex;
  align-items: center;
}

.task__task-pomodoros-num {
  display: flex;
  width: 25px;
  height: 25px;
  margin: 0;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid #c4c4c4;
  border-radius: 100%;
}

.task__task-name {
  max-width: 290px;
  width: fit-content;
  height: fit-content;
  padding-right: 10px;
  margin-right: auto;
  word-break: break-word;
  white-space: pre-wrap;
}

.task__btn {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
