.statistics__section-bottom {
  display: flex;
  margin-bottom: 100px;
  align-items: center;
  justify-content: space-between;
}

.statistics__section-bottom-module {
  display: flex;
  width: 355px;
  height: 129px;
  padding: 25px;
  flex-direction: column;
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-position: center right 35px;
}

.section-module__focus {
  background-image: url("data:image/svg+xml,%3Csvg width='115' height='115' viewBox='0 0 115 115' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M57.3158 111.632C87.3136 111.632 111.632 87.3136 111.632 57.3158C111.632 27.318 87.3136 3 57.3158 3C27.318 3 3 27.318 3 57.3158C3 87.3136 27.318 111.632 57.3158 111.632Z' stroke='%23C4C4C4' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M57.5 95C78.2107 95 95 78.2107 95 57.5C95 36.7893 78.2107 20 57.5 20C36.7893 20 20 36.7893 20 57.5C20 78.2107 36.7893 95 57.5 95Z' stroke='%23C4C4C4' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M57.5 78C68.8218 78 78 68.8218 78 57.5C78 46.1782 68.8218 37 57.5 37C46.1782 37 37 46.1782 37 57.5C37 68.8218 46.1782 78 57.5 78Z' stroke='%23C4C4C4' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.section-module__focus-enabled {
  background-color: #ffdda9;
  background-image: url("data:image/svg+xml,%3Csvg width='115' height='115' viewBox='0 0 115 115' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M57.3158 111.632C87.3136 111.632 111.632 87.3136 111.632 57.3158C111.632 27.318 87.3136 3 57.3158 3C27.318 3 3 27.318 3 57.3158C3 87.3136 27.318 111.632 57.3158 111.632Z' stroke='%23FFAE35' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M57.5 95C78.2107 95 95 78.2107 95 57.5C95 36.7893 78.2107 20 57.5 20C36.7893 20 20 36.7893 20 57.5C20 78.2107 36.7893 95 57.5 95Z' stroke='%23FFAE35' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M57.5 78C68.8218 78 78 68.8218 78 57.5C78 46.1782 68.8218 37 57.5 37C46.1782 37 37 46.1782 37 57.5C37 68.8218 46.1782 78 57.5 78Z' stroke='%23FFAE35' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.section-module__pause-time {
  background-image: url("data:image/svg+xml,%3Csvg width='115' height='115' viewBox='0 0 115 115' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M57.3158 111.632C87.3136 111.632 111.632 87.3136 111.632 57.3158C111.632 27.318 87.3136 3 57.3158 3C27.318 3 3 27.318 3 57.3158C3 87.3136 27.318 111.632 57.3158 111.632Z' stroke='%23C4C4C4' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M57.3154 30.1579V57.3158L70.8944 70.8947' stroke='%23C4C4C4' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.section-module__pause-time-enabled {
  background-color: #dfdcfe;
  background-image: url("data:image/svg+xml,%3Csvg width='115' height='115' viewBox='0 0 115 115' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M57.3158 111.632C87.3136 111.632 111.632 87.3136 111.632 57.3158C111.632 27.318 87.3136 3 57.3158 3C27.318 3 3 27.318 3 57.3158C3 87.3136 27.318 111.632 57.3158 111.632Z' stroke='%239C97D7' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M57.3154 30.1579V57.3158L70.8944 70.8947' stroke='%239C97D7' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.section-module__stops {
  background-image: url("data:image/svg+xml,%3Csvg width='115' height='115' viewBox='0 0 115 115' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M57.3158 111.632C87.3136 111.632 111.632 87.3136 111.632 57.3158C111.632 27.318 87.3136 3 57.3158 3C27.318 3 3 27.318 3 57.3158C3 87.3136 27.318 111.632 57.3158 111.632Z' stroke='%23C4C4C4' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 20L95 94' stroke='%23C4C4C4' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.section-module__stops-enabled {
  background-color: #c5f1ff;
  background-image: url("data:image/svg+xml,%3Csvg width='115' height='115' viewBox='0 0 115 115' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M57.3158 111.632C87.3136 111.632 111.632 87.3136 111.632 57.3158C111.632 27.318 87.3136 3 57.3158 3C27.318 3 3 27.318 3 57.3158C3 87.3136 27.318 111.632 57.3158 111.632Z' stroke='%237FC2D7' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 20L95 94' stroke='%237FC2D7' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.statistics__section-bottom-module-title {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  color: #333333;
}

.statistics__section-bottom-module-value {
  display: block;
  font-size: 64px;
  font-weight: 400;
  line-height: 76.38px;
  color: #333333;
}
